<%
	# List of left-hand-side tabs for each trip.
	# Expects trips and client_or_tour parameters. Sample usage: partial( 'trips/lhs_tabs', :trips => client.active_trips.all, :client_or_tour => client )
-%>

<% trips.all( :order => [ :status_id, :start_date.desc, :created_at.desc ] ).each do |trip| -%>

	<li class="trip trip-<%= trip.status.code %>" title="<%= "#{ trip.title } - #{ trip.status.name } - #{ trip.countries_names.join(', ') }" %>">
		<%= link_to trip.title, resource(client_or_tour,trip) %>
	</li>

<% end -%>
