<div id="<%= "#{ nested_resource( @client_or_tour, @trip, true ) }Builder" %>" class="tripBuilder ajaxPanel">
	<%= partial "trips/timeline", :trip=>@trip %>
</div>

<!--<div id="<%#= "#{ nested_resource( @client_or_tour, @trip, true ) }Builder" %>" class="sectionContainer noSectionHead noSectionFoot tripBuilder ajaxPanel">
	<div class="sectionBody">
		<%#= partial "trips/timeline", :trip => @trip %>
	</div>
</div>-->