<!-- Trip edit.html: -->
<%

	client_or_tour				||= @client_or_tour
	
	delete_caption				||= @trip.is_first_version ? 'Delete all versions of this trip' : 'Delete this version'
	prompt_to_confirm_delete	||= @trip.is_first_version ? 'That seems a bit drastic. Are you quite sure you want to delete all versions of this trip?' : 'Delete this version?'
	delete_uid					||= "delete-btn#{ Time.new.to_i }"
	label_for_delete			||= delete_caption
	label_for_delete			  = false if @trip.completed? || @trip.confirmed?
	
	url_params					  = { :redirect_to => resource(client_or_tour,@trip.version_of_trip) }
	
-%>
<!--<div class="sectionContainer noSectionHead">-->

	<%= form_for @trip, :action => nested_resource(client_or_tour,@trip) do %>

		<div class="sectionBody">
			<br/>
			<%= partial "trips/form", :trip=>@trip %>		
		</div>

		<!-- sectionFoot: -->
		<%= partial 'shared/sectionFoot_with_buttons', 

			:ui_target				=> '#'+nested_resource(@trip,true), 
			:cancel						=> false,
			:save_caption			=> 'Save changes', 
			:save_class				=> 'updateTrip',			# Important: A class of 'createTrip' would cause javascript to add a new tab for the new trip.
			:foot_class				=> 'formSurround',

			:add							=> true,
			:add_caption			=> 'Copy details from another trip...',
			:add_url					=> "#{ nested_resource(client_or_tour,@trip) }/copy",

			# Define a special <label> element that can be clicked to activate the delete_button below:
			:label_for_delete	=> label_for_delete,	# Specify that we want to render a <label> instead of a button.
			:delete_id				=> delete_uid,				# This is used to associate the label with the button.
			:delete_caption		=> delete_caption,
			:delete_class			=> 'left',
			:delete						=> false,
			
			:custom_tag				=> check_box( :auto_update_elements_dates, :label => 'Move elements along with Start date', :title => 'This option helps you keep all elements relative to the trip&apos;s start date. Note that Flights bound to a PNR and elements linked to a Group Template are not affected.', :class => 'widthAuto labelWidthAuto' ),
			:custom_after			=> false

		%>

	<% end =%>

		<!-- Important: This delete button is HIDDEN and exists in it's own little form.
		     It has an associated <label> defined above that can be clicked in the preceeding sectionFoot! -->
		<%= delete_button resource(client_or_tour, @trip, url_params ), delete_caption, :class => "hidden", :id => delete_uid, :'data-target' => '.clientPageContainer', :'data-confirm' => prompt_to_confirm_delete %>

<!--</div>-->