<%
	if @trip.tour
		client_or_tour = @trip.tour
		heading				 = "Create new tour dates for #{ client_or_tour.shortname }"
	else
		client_or_tour = @client
		heading				 = "Create a new trip for #{ client_or_tour.shortname }"
	end			
%>
<div class="sectionContainer">

	<%= form_for @trip, :action => nested_resource(client_or_tour, :trips) do %>

		<div class="sectionHead">
			<h3 class="tripHeading">
				<span class="ui-icon ui-icon-trip"></span>
				<span class="tripName"><%= heading %></span>
			</h3>
		</div>

		<div class="sectionBody tripPage formSurround">

			<%= partial "trips/form", :trip => @trip %>

		</div>

		<!-- sectionFoot: -->
		<%= partial 'shared/sectionFoot_with_buttons', :ui_target => '.clientSubPageContainer', :cancel => false, :save_caption => 'Save new trip', :save_class => 'createTrip', :foot_class => 'formSurround' %>

	<% end =%>

</div>