
<!-- WHERE IS THIS USED?! -->

<!-- Trip summary.html: (wrap in sectionContainer) -->

<!--<div class="sectionContainer noSectionHead">-->
	
	<%= form_for @trip, :action => resource(@trip) do %>

    <div class="sectionBody">
        <%= partial "trips/form", :trip=>@trip %>
    </div>

    <div class="sectionFoot">
			<div class="buttonBar">
				<%= submit "Save changes", :class => "save" %>
				<input type="reset" value="Discard changes" class="reset" />
			</div>
		</div>

	<% end =%>

<!--</div>-->