<%

	url_for_submit = @client.nil? ? resource(:notes) : resource(@client, :notes)
	url_for_cancel = @client.nil? ? resource(:notes) : resource(@client, :notes)	# +'/0'
	field_prefix ||= 'client' unless @client.nil?
	ui_target    ||= "##{ nested_resource(@client,true) }notes"

%>
<%= form_for @note, :action => url_for_submit do %>

	<div class="sectionBody">
  	<br/><br/>
		<%= partial 'notes/form', :note => @note %>
	</div>

	<!-- sectionFoot: -->
	<%= partial 'shared/sectionFoot_with_buttons', :ui_target => ui_target, :cancel_url => url_for_cancel, :save_caption => 'Save my new note' %>

<% end =%>