.DS_Store
log/*
tmp/*
TAGS
*~
.#*
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
*.zip
src/*
.hgignore
.hg/*
.svn/*
gems/gems/*
gems/specifications/*
merb_profile_results

# To preserve developers' custom environments and sanity:
.bundle
config/database.yml
vendor/cache
public/imageLibrary
scripts/documents/doc_builder/(Sample Documents)
scripts/documents/doc_builder/(Sample Templates)
scripts/documents/doc_builder/sdb.ini
.gems
gemfile.lock

# To speed up GIT file scans:
dm-accepts-nested-attributes/*