<div class="sectionContainer noSectionHead">

	<%
		# Important: @brochure_request.client & company are required to create a new brochure_request!
		# Here's a feeble attempt to guess some defaults:

		@brochure_request.client_id ||= params[:client_id]
		@brochure_request.company   ||= session.user.company || Company.first( :is_active => true )
	%>

	<%= form_for @brochure_request, :action => resource( @brochure_request.client, :brochure_requests ) do %>

		<div class="sectionBody">

			<%= partial 'brochure_requests/form', :brochure_request => @brochure_request %>
			
		</div>

		<%= partial 'shared/sectionFoot_with_buttons',
				:save_caption		=> 'Save new request',
				:cancel_caption => 'Cancel without saving',
				:cancel_url			=> resource( @brochure_request.client, :brochure_requests ),
				:ui_target			=> :auto
		%>

	<% end =%>
	
</div>