<!-- New/Edit DocumentType form: -->
<%

	document_template ||= @document_template
	@properties = document_template.method(:properties).call

@show_required_field_message     = false
@show_all_required_field_message = true

-%>
<%= text_field :name,			 :label => 'Template name', :maxlength => @properties[:name].length, :class => 'width2Fields' %>
<%= text_field :file_name, :label => 'File name',     :maxlength => @properties[:name].length, :class => 'width2Fields' %>
<%= select :document_type_id, :label => "Document type", :selected => document_template.document_type_id.to_s, :collection => DocumentType.all( :order => [:name] ), :value_method => :id, :text_method => :name %>

<!--<br/>
<p><span class="ui-icon ui-icon-info"></span> This is simply used as a label for categorising your documents.</p>-->