<%

	# Followups are displayed in:
	# - The Followups secion of each Client page. (Filtered by client)
	# - The Followups tab on the Dashboard Home page. (Filtered by user)

	# TODO: Discard these filters if they're all already applied by the controller:

  dashboard_task_types = [ TaskType::BROCHURE_FOLLOWUP, TaskType::SEND_FINALS, TaskType::POST_TRIP_FOLLOWUP ]

	client ||= nil
	user   ||= @user || current_user
	limit  ||= params[:limit].to_i > 0 ? params[:limit].to_i : 500

	# Filter by user if specified, otherwise only default to current user if there's no client filter:
	user     = User.get( params[:user_id] ) if params[:user_id]
	user   ||= request.session.user         unless client

	tasks  ||= Task.all
	tasks    = tasks.all( :limit => limit )
	
  if user && !client
		#tasks = tasks.all( :due_date => (Date.today-5 .. Date.today+5), :type_id.not => TaskType::NOTE )
		tasks = tasks.all( :due_date.lte => Date.today+3 )
		tasks = tasks.all( :user   => user )  # unless || user.id == 99
		tasks = tasks.all( :status_id => TaskStatus::OPEN, :type_id => dashboard_task_types )	# TaskStatus::OPEN = 0
  end
	
	# Prepare consultants pick list and ensure task.user is on it even if they're inactive:
	user_list = User.all( :is_active => true, :order=>[:forename, :name] )
	user_list << user
		
%>
<div class="sectionContainer noSectionHead <%= 'noSectionFoot' unless client %>">

	<div class="sectionBody">
		
		<!-- Only show heading and refresh button when on dashboard home page: -->
		<% if user && !client %>
			<br/><br/>
			<%#= form_for :tasks, :action => resource(user,:tasks) %>
			<h4>My followups
				<%= link_to "#{ icon :refresh } Refresh", resource(user,:tasks), :'data-target' => '#user-followups-table', :class => 'ui-priority-secondary ui-state-default' %>
				<%#= select	:user_id,	:label => 'Followups for', :selected => user.id.to_s, :collection => user_list, :value_method => :id, :text_method => :display_name, :prompt => 'Everyone', :class => 'auto-submit' %>
			</h4>
			<%# end =%>
			<br/>
		<% end %>
		
    <%= if tasks.length > 0
			partial 'tasks/list', :tasks => tasks, :client => client
		else
			"No followups to show here #{ 'for ' + user.preferred_name if user.preferred_name }."
    end %>

	</div>
	
	<%= if client
		partial 'shared/sectionFoot_with_buttons', :add_caption => "Add a followup #{ "for #{client.shortname}" if client }...", :add => true, :add_url => resource( client, :tasks, :new ), :cancel => false, :save => false	
	end %>

</div>