<div class="sectionContainer noSectionHead">
	<div class="sectionBody">
		
		<%= partial 'tasks/list', :tasks => tasks, :client => client %>

	</div>
	
	<%= partial 'shared/sectionFoot_with_buttons', :add_caption => "Add a reminder #{ "for #{client.shortname}" if client }...", :add => true, :add_url => resource( client, :tasks, :new ), :cancel => false, :save => false %>

</div>