<table class="tasks">
	<tbody>
		<% tasks.all(:limit => 1000).each do |task| %>
			
			<%
			
				status_icon = case task.status_id
					when TaskStatus::COMPLETED then icon(:check, :title => "Status: #{ task.status.name }")
					when TaskStatus::ABANDONED then icon(:trash, :title => "Status: #{ task.status.name }")
					else                            icon(:clock, :title => "Status: #{ task.status.name }")
				end
				
				task_type = task.type.name || '(Unspecified reminder)'

				task_url  = resource(task.client, task, :edit)
			-%>

			<tr>
				<%= tag :td, task.due_date.formatted(:uidate) %>
				<%= tag :td, "#{ status_icon } #{ link_to(task_type, task_url) }", :class => 'nowrap' %>
				<%= tag :td, ( task.user && task.user.fullname ) %>
				<%= tag :td, tag(:small,task.notes) %>
			</tr>
		<% end %>
	</tbody>
</table>