
<h3>New note or article for <%#=  params[:country_id] %></h3>

<%= form_for(@article, :action => resource(:articles) ) do %>

  <%= partial 'articles/fields', :article => @article %>
  <%= submit "Save" %>

<% end =%>

  <!-- Little form just for the delete button: -->
  <%#= delete_button(@article, "Delete #{@article.name}") %>
  <%= link_to 'Cancel without saving', resource(:articles) %>

