#sysAdminTabsContent UL {
	-moz-column-width:6em;	/* Mozilla can make nice columns. */
	font-size:0.75em;
	height:8em;
	list-style:none;
	overflow-x:scroll;
}

#sysAdminTabsContent UL LI {
	display:inline-block;	/* Graceful degradation in browsers that do not support css columns. */
	width:6em;
}


#sysAdminTabsContent > .sectionBody > .sectionContainer > .sectionBody {
	background-color:#fff;
	padding-top:1em;
}





TABLE.pnrs THEAD TH {
	padding:0.2em;
	text-align:right;
}
TABLE.pnrs THEAD TH.left {
	text-align:left;
}
TABLE.pnrs TBODY TH {
	padding:0.2em;
	text-align:left;
}
TABLE.pnrs TBODY TD {
	padding:0.2em;
	text-align:right;
}
TABLE.pnrs TBODY TD.left {
	text-align:left;
}



.filter-buttons {
	margin: 1em 0 2em 0;
}

	A.filter-button {
		-ie-border-radius: 4px;
		-opera-border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #D3D3D3;
		display: inline-block;
		font-size: 1.4em;
		font-weight: bold;
		height: 24px;
		min-width: 24px;
		padding:0 0.25em 0 0.25em;
		line-height: 1.45em;
		margin-right: 2px;
		text-align: center;
		text-decoration: none;
	}
	A.filter-button:hover {
		text-decoration:underline;
	}