
.tours.sectionContainer > .sectionHead,
.tours.sectionContainer > .sectionBody,
.tours.sectionContainer > .sectionFoot {
	left:1em;
	right:1em;
}

.tour.sectionContainer > .sectionHead,
.tour.sectionContainer > .sectionBody,
.tour.sectionContainer > .sectionFoot {
	left:1em;
	right:1em;
}

.tour .ui-tabs-nav-vertical LI:first-child {
	margin-bottom:1em;
}

.tour .ui-tabs-nav-vertical LI:last-child {
	margin-top:1em;
}

.tours-list .tour {
	margin:1.5em 0 0 0;
}

.tours-list .tour {
	margin:1em 0 0 0;
}

	.tours-list .tour .tour-name {
		display:inline-block;
		font-size:1.2em;
		font-weight:bold;
		/*width:20em;*/
	}

	.tours-list .tour .tour-notes {
		display:block;
		margin:0 0 0 2em;
		width:40em;
	}

	.tours-list .no-trips {
		color:#999;
		text-indent:1.5em;
	}


.tours-list .trips-list {
	list-style:none;
	margin:1em 0 0 2em;
}


	/* Expand/collapse old tours and trips when user un-ticks the "Show old trips" checkbox: */
	.tours-list.hide-old-trips .tour-is-old,
	.tours-list.hide-old-trips .trip-completed,
	.tours-list.hide-old-trips .trip-abandoned,
	.tours-list.hide-old-trips .trip-canceled {
		display:none;
	}

	.tours-list .trips-list .trip {
		margin:0.5em 0 0 0;
	}

	.tours-list .trips-list .trip .ui-icon {
		margin:0 0.5em 0 0;
	}

	.tours-list .trips-list .trip .trip-name {
		font-size:1.1em
	}

	.tours-list .trips-list .trip .summary {
		display:block;
		margin:0.5em 0 0 2.2em;
	}

	.tours-list .trips-list .trip-abandoned .trip-name {
		text-decoration:line-through;
	}

