
#trip-elements-grid THEAD TH { color:#fff; }

#trip-elements-grid TBODY TD { padding:0 0.2em 0 0; }


TABLE#trip-elements-grid { background-color:#000; }

#trip-elements-grid TBODY TD,
#trip-elements-grid TBODY TD .formField INPUT,
#trip-elements-grid TBODY TD .formField SELECT {
	background-color:transparent;
	color:yellow;
	font-family:"Lucida Sans Unicode","Lucida Grande",monospace;
	outline:medium none;
}

#trip-elements-grid TBODY TD .formField INPUT:focus,
#trip-elements-grid TBODY TD .formField SELECT:focus {
	background-color:#fff;
	color:#000;
}
	
#trip-elements-grid TBODY TD:nth-child(1) { padding-right:1em; }
#trip-elements-grid TBODY TD:nth-child(5) { padding-right:2em; }

#trip-elements-grid .formField { min-height:auto; padding:0.1em; }

#trip-elements-grid .formField LABEL { display:none; }

#trip-elements-grid .formField SELECT { height:1.5em; }

#trip-elements-grid .formField INPUT.date  { width:8em; }
#trip-elements-grid .formField INPUT.time  { width:3.2em; }

#trip-elements-grid .formField .widthHalfField { margin-right:0; }

/* Use 'clip' to hide AIRLINE dropdown-arrow until user hovers or focuses on it: */
#trip-elements-grid .formField.airport { position:relative; top:0.8em; height:1.5em; width:3.8em; }
#trip-elements-grid .formField SELECT.airport { position:absolute; clip:rect(auto,2.4em,auto,auto); width:100%; }
#trip-elements-grid .formField SELECT.airport:hover,
#trip-elements-grid .formField SELECT.airport:focus { clip:rect(auto,auto,auto,auto); }

/* Use 'clip' to hide SUPPLIER dropdown-arrow until user hovers or focuses on it: */
#trip-elements-grid .formField.supplier { position:relative; top:0.8em; height:1.5em; width:8em; }
#trip-elements-grid .formField SELECT.supplier { position:absolute; clip:rect(auto,6.6em,auto,auto); width:100%; }
#trip-elements-grid .formField SELECT.supplier:hover,
#trip-elements-grid .formField SELECT.supplier:focus { clip:rect(auto,auto,auto,auto); }

/* Use 'clip' to hide HANDLER dropdown-arrow until user hovers or focuses on it: */
#trip-elements-grid .formField.handler { position:relative; top:0.8em; height:1.5em; width:8em; }
#trip-elements-grid .formField SELECT.handler { position:absolute; clip:rect(auto,6.6em,auto,auto); width:100%; }
#trip-elements-grid .formField SELECT.handler:hover,
#trip-elements-grid .formField SELECT.handler:focus { clip:rect(auto,auto,auto,auto); }

/* Attempt to colour-code the prompt at the top of the list: (Has no effect in most browsers!) */
#trip-elements-grid .formField SELECT.airport  OPTGROUP OPTION:first-child,
#trip-elements-grid .formField SELECT.handler  OPTGROUP OPTION:first-child,
#trip-elements-grid .formField SELECT.supplier OPTGROUP OPTION:first-child { /* color:red; */ }


/* ICONS: (Only show icon when it's class matches the row class "create/update/delete") */
#trip-elements-grid TR:not(.create) .ui-icon.create,
#trip-elements-grid TR:not(.update) .ui-icon.update,
#trip-elements-grid TR:not(.delete) .ui-icon.delete,
#trip-elements-grid TR:not(.locked) .ui-icon.locked { display:none; }

#trip-elements-grid TR        		.ui-icon.locked { background-color:#1A61A9; }	/* Amadeus blue */
#trip-elements-grid TR        		.ui-icon.update { background-color:#98B4E2; }	/* Trip-Builder Flight blue */
#trip-elements-grid TR        		.ui-icon-round  { -moz-box-shadow:-0px -0px 1px rgba(255, 255, 255, 0.5); }


/* Special style for row flagged for DELETE: */
#trip-elements-grid TR.delete INPUT,
#trip-elements-grid TR.delete SELECT { text-decoration:line-through; }
#trip-elements-grid TR.delete BUTTON.delete { display:none; }


/* MESSAGES: (Only show tip when it's class matches the row class "create/update/delete") */
#trip-elements-grid TR        .message,
#trip-elements-grid TR        .message A.undo { color:#fff; white-space:nowrap; }
#trip-elements-grid TR:not(.delete) .message.deleted { display:none; }

/* NO-FLIGHTS message: */
#trip-elements-grid TR.message.none                        .message { display:none; margin-top:2em; color:yellow; }
#trip-elements-grid TR.message.none                        .message .ui-icon { background-color:yellow; }
#trip-elements-grid TR.message.none:first-child:last-child .message { display:block; }
#trip-elements-grid TR.message.none                        TD { visibility:hidden; }
#trip-elements-grid TR.message.none:first-child:last-child TD { visibility:visible; }

/* PASTE AMADEUS TEXT: */
#amadeus-paste {
	background:#fff url(/images/icons/icon.amadeus.a.medium.gif) no-repeat left top;
	font-family:"Lucida Sans Unicode","Lucida Grande",monospace;
	margin-top:2em;
	padding-left:38px;	/* Indent so as not to overlap background logo. */
	width:100%;
}
