<%
	
	# A little helper for generating a frequently used <div class="sectionHead> containing a H# heading element.

	# Optional params...

	heading					||= 'Heading'
	head_class			||= ''
	heading_tag			||= :h3

-%>
<div class="sectionHead <%= head_class %>">
	<%= tag heading_tag, heading %>
</div>