<%
	client ||= @client if @client
	notes  ||= @notes					# Either provide a notes array or we derive it from client
	notes  ||= client.notes if client	# client is required to generate link to notes/new
%>
<ul>

	<li class="note0">
		<%= partial 'notes/show', :note => Note.new( :id => 0, :client => client ) %>
	</li>

	<% notes.each do |note| %>

		<li id="note<%= note.id %>">xx
			<%= partial 'notes/show', :note => note, :client => client %>
		</li>

	<% end %>
</ul>