<div class="sectionContainer noSectionHead">

<%
	# Define a uid to relate the delete button to its label element:
	delete_button_id = "#{ nested_resource(@client,true) }_delete"
%>

<%= form_for @client, :action => resource(@client), :class => 'edit-client' do %>

	<div class="sectionBody">

			<%= partial 'clients/form', :client => @client %>

	</div>

	<!-- sectionFoot: -->
	
	<%= partial 'shared/sectionFoot_with_buttons', 
	
		:ui_target				=> :auto, 
		
		:cancel_url				=> resource(@client) + "/summary", 
		:save_caption			=> 'Save changes',
		
		:label_for_delete	=> true, #!@client.archived?,	# Show "Delete" button unless client is already "deleted"
		:delete_url				=> resource(@client), 
		:delete_caption		=> 'Delete this client',
		:delete_id				=> delete_button_id,
		:delete_class			=> 'left'
		
	%>

<% end =%>

		<!-- Important: This delete button is HIDDEN and exists in it's own little form.
		     It has an associated <label> defined above that can be clicked in the preceeding sectionFoot! -->
		<%= delete_button resource(@client), 'Delete', :class => "hidden", :id => delete_button_id, :'data-confirm' => 'Delete this client? That seems like quite a big decision. Are you ready for such a level of commitment?' %>

</div>