<%

	# Copy name and address from another client if specified:
	if params[:copy_client_id] && master = Client.get(params[:copy_client_id])
		
		attributes_to_copy = [:title_id, :forename, :name, :salutation, :addressee, :known_as, :tel_work, :fax_work, :tel_mobile, :tel_mobile2, :email1, :email2]
		attributes         = master.attributes.reject{ |attr,val| !attributes_to_copy.include? attr }
		@client.attributes = attributes
				
		master.client_addresses.each do |addr|
			@client.client_addresses << ClientAddress.new(
				:is_active	=> addr.is_active,
				:address		=> Address.new( addr.address.attributes.reject{ |attr,val| attr == :id } )
			)
		end
		
		# Default copied client to NO MARKETING and original_source to COMPANION:
		@client.marketing_id = 0
		@client.original_source = @client.source = ClientSource.first( :name => 'Companion' ) || @client.original_source
		
	end

%>
<div class="sectionContainer clientPage">
	
	<%= form_for @client, :action => resource(:clients) do %>
		
		<!-- sectionHead: -->
		<%= partial 'shared/sectionHead_with_heading', :heading => "#{ icon(:client) } Add a new client to the database", :heading_tag => :h2 %>

		<div class="sectionBody">
			<div style="text-align:center;">
				<%= partial 'clients/form', :client => @client %>
			</div>
		</div>
				
		<!-- sectionFoot: -->
		<%= partial 'shared/sectionFoot_with_buttons', :ui_target => '_open_client', :save_caption => 'Save new client', :cancel => false, :save_class => 'createClient' %>

	<% end =%>

</div>