<div class="sectionContainer">

	<div class="sectionHead">
		<h3>
			Details for <%= @tour.name %>
		</h3>
	</div>

	<%= form_for @tour, :action => resource(:tours), :class => 'create-tour' do %>

		<div class="sectionBody formSurround">
		
			<%= partial 'tours/form', :tour => @tour %>
		
		</div>

	<!-- sectionFoot: -->
	<%= partial 'shared/sectionFoot_with_buttons', :ui_target => '.tour', :save_caption => 'Save my new group', :cancel => false, :foot_class => 'formSurround' %>

	<% end =%>

</div>