<%

	document ||= @document
	@properties = document.method(:properties).call

-%>
<div class="sectionContainer">
	
	<div class="sectionHead">
		<h4>Generate a new document</h4>
	</div>

	<%= form_for @document, :action => resource(:documents) do %>
					
		<div class="sectionBody">
		
			<%= partial 'documents/form', :document => @document %>

		</div>

		<!-- sectionFoot: -->
		<%= partial 'shared/sectionFoot_with_buttons', :save_caption => 'Generate document!' %>

	<% end =%>

</div>
