<!-- TODO: Rearrange html to return sectionContainer as the outer div: -->
<%= form_for @money_out, :action => resource( @client_or_tour, @money_out.trip, :money_outs ) do %>

<div class="sectionBody">

	<div class="sectionContainer">
		
		<div class="sectionHead">
			<h3>Request a new payment <small> to <%= @money_out.supplier.name %></small></h3>
		</div>

		<div class="sectionBody">
			<%= partial 'money_outs/form', :money_out => @money_out %>
		</div>

	</div>

</div>
	
	<!-- sectionFoot: -->
	<%= partial 'shared/sectionFoot_with_buttons', :ui_target => :auto, :save_caption => 'Submit request', :cancel_caption => 'Cancel without saving', :cancel_url => resource(@client_or_tour, @trip, :money_outs) %>

<% end =%>
