<%

	title ||= @title
	@properties = title.method(:properties).call

	@show_required_field_message = true
	
%>
<%= text_field :name,       :label => 'Title* <small>Eg: Mrs</small>', :maxlength => @properties[:name].length %>
<%#= text_field :sort_order, :label => 'Sort by', :maxlength => @properties[:name].length %>

<br/>
<%= unless title.new?
	
	clients_affected = Client.count( :title_id => title.id )
	
	if clients_affected > 0
		
		client      = Client.first( :title_id => title.id )
		client_link = link_to( client.shortname , resource(client, :label => client.shortname ) )
		tag :p, "<span class=\"ui-icon ui-icon-info\"></span> This title is used for #{ clients_affected } clients, for example #{ client_link }"
		
	else 
		
		tag :p, "<span class=\"ui-icon ui-icon-info\"></span> This title is not used for any clients so you could delete it"
		
	end 
	
end %>