
<%# message[:error] ||= 'oops!' %>

<!--<EXCEPTION>-->
<div class="exception"
	<%= hidden_field :name => :exception_type,	:value => 'InternalServerError' %>
	<%= hidden_field :name => :request_uri,			:value => request.env['REQUEST_URI'] %>
	<%= hidden_field :name => :parameters,			:value => params %>
	<%= hidden_field :name => :exceptions,			:value => @exceptions.map do |exception|
		{
			:name				=> exception.class,
			:message		=> exception.message,
			:backtrace	=> @show_details ? exception.backtrace : exception.backtrace.first.to_a
		}.to_json
	end
	%>
</div>
<!--</EXCEPTION>-->
