<%

	report				||= @report
	report.source ||= Report.sources.first
	@properties			= report.method(:properties).call
	
	#selected_fields = @report.report_fields.collect{ |f| f.name }
	selected_fields = {}
	@report.report_fields.each{ |f| selected_fields[f.name] = f.id }
	
%>
	
	<div>

			<!-- Properties of the chosen source: -->

				<h3>I want to see:</h3>
				<br/>

				<ul class="checkboxList">

					<!-- TODO: Mix new and existing report_fields to allow edit -->
					<% @report.potential_fields.sort{ |a,b| a.name <=> b.name }.each do |field| -%>

						<%

							id					= "field_#{ field.name.gsub('.','_') }"
							name_prefix	= "report[report_fields_attributes][#{ field.object_id }]"
							selected		= selected_fields.keys.include?( field.name )

						-%>

						<%= hidden_field :name => "#{ name_prefix }[id]",   :value   => selected_fields[field.name] if selected %>
						<%#= hidden_field :name => "#{ name_prefix }[name]", :value	 => field.name %>
						<%#= hidden_field :name => "#{ name_prefix }[_delete]", :value	 => true %>
						<%#= check_box    :name => "#{ name_prefix }[_delete]", :checked => selected, :label => field.display_name, :value => false, :id => id, :boolean => false %>
						<%= check_box    :name => "#{ name_prefix }[name]", :checked => selected, :label => field.display_name, :value => field.name, :id => id, :boolean => false %>
						
					<% end -%>

				</ul>

	</div>
