<%
	@reports ||= Report.all
%>
<!--<dl class="accordion">-->

	<br/>
	<h3>Choose a saved report</h3>
	<br/>

	<!--<dt>Choose a saved report</dt>
	<dd>-->
		<ul>
			<% @reports.each do |report| %>
			
			<li>
				<%= icon :script %>
				<%= link_to report.name, resource( report, :edit),			:rel => '#report-page',	:class => "ajax"		%>
				<%#= link_to icon(:delete), resource( report, :delete),	:rel => '#report-page',	:class => "ajax"	%>
			</li>

			<% end %>

		</ul>

		<% if @reports.empty? -%>
			<%= tag :p, "No reports have been saved." %>
			<%= tag :p, "#{ icon :script } #{ link_to 'Create the first report', resource(:reports) }" %>
		<% end -%>

	<br/>
	<!--</dd>
</dl>-->