<div class="sectionContainer">

	<%= form_for @report, :action => resource( :reports ) do %>

		<div class="sectionHead">
			<h2>Customise your report<h3>
		</div>

		<div class="sectionBody">

			<div class="sectionContainer">

				<!--<div class="sectionHead">-->

					<ul class="reportTabsNav">

						<li><a href="#reportFields">Fields</a></li>
						<li><a href="#reportFilters">Filters</a></li>

					</ul>

				<!--</div>-->

				<!--<div class="sectionBody" id="reportTabsContent">-->
				
					<div id="reportFields" class="xsectionBody">
						<%= partial 'reports/form', :report => @report %>
					</div>

					<div id="reportFilters" class="xsectionBody">
						Filters coming soon!
					</div>

				<!--</div>-->
				
			</div>

		</div>

		<div class="sectionFoot">

			<%= submit 'Run report' %>

		</div>

	<% end =%>

