
<h3>Organise Images</h3>
<p>Click an image to edit it.</p>

<div class="systemSettings">
  <ul>
    <li>
      <%= link_to 'Add a new Image to this list', resource(:images, :new), :class=>'new' %>
    </li>
  
    <% @images.each do |image| %>
    <li>
      <%= link_to image.alt, resource(image, :edit) %>
      <%#= delete_button(country, "Delete #{country.name}") %>
    </li>
  <% end %>
  </ul>
</div>